body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

html.no-scroll {
    overflow: hidden!important;
}


.vertical-section {
    height: 100vh;
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.horizontal-scroll-wrapper {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden; /* Hide horizontal scrollbar */
    overflow-y: hidden; /* Hide vertical scrollbar */
    white-space: nowrap;
    scroll-behavior: smooth; /* Enable smooth scrolling */
}

.horizontal-section {
    width: 100vw;
    height: 100vh;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #ddd;
    vertical-align: top;
    transition: transform 0.3s ease-in-out; /* Smooth transition for sliding effect */
}

/* Styling for a custom scrollbar (optional) */
.horizontal-scroll-wrapper::-webkit-scrollbar {
    height: 10px;
}

.horizontal-scroll-wrapper::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

.horizontal-scroll-wrapper::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.vertical-section {
    height: 100vh;
    background-color: #f1f1f1;
    /* additional styling */
}

.swiper {
    height: 100vh;
}

.swiper-slide {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ddd;
    /* additional styling */
}
